  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Yeni Şifre</h1>
                  <p class="mb-4">Lütfen yeni şifrenizi oluşturun</p>
                  <p class="mb-4 text-gray-900">Şifreniz değiştirildiğinde başarılı sayfasına yönlendireleceksiniz</p>
                </div>
                <form class="user" action="/api/users/reset-password" method="post">
                  <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id : ''%>">
                  <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token : ''%>">
                  <div class="form-group">
                    <input type="password" value="<%= typeof sifre != 'undefined' ? sifre : ''%>" name="sifre" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Şifrenizi girin">
                  </div>
                  <div class="form-group">
                    <input type="password" value="<%= typeof resifre != 'undefined' ? resifre : ''%>" name="resifre" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Şifrenizi tekrar girin">
                  </div>
                  <button  class="btn btn-primary btn-user btn-block">
                   Şifreyi Güncelle
                  </button>
                </form>
                <hr>
               
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
